# Programming artifacts

.venv/
.vscode/
node_modules/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
.coverage-report.json
coverage.xml
htmlcov/
build/
dist/
*.egg-info/
site/
.DS_Store

# Local Data

config/
patients/
generated/
exports/
logs/
local-data/
